.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 1rem;
}

mat-sidenav {
  background-color: aquamarine;
  width: 30%;
  min-width: 200px;
  max-width: 250px;
}

mat-grid-tile {
  background-color: lightblue;
}

button {
  margin-right: 2rem;
}

div {
  margin: 2rem;
}
