<h1>Buttons</h1>

<button mat-raised-button color="accent" disableRipple>Button</button>
<button mat-flat-button color="primary">Flat button</button>
<button mat-stroked-button color="primary">Stroked button</button>
<button mat-icon-button color="warn"><mat-icon>phone</mat-icon></button>
<button mat-fab color="accent">Fab button</button>
<button mat-mini-fab color="accent">Mini Fab button</button>

<div class="mat-display-4">Display-4</div>
<div class="mat-display-3">Display-3</div>
<div class="mat-display-2">Display-2</div>
<div class="mat-display-1">Display-1</div>

<div class="mat-headline">Headline</div>
<div class="mat-title">Title</div>
<div class="mat-subheading-2">Subheading-2</div>
<div class="mat-subheading-1">Subheading-1</div>
